@charset "UTF-8";

/* 여백 초기화 */
body,
div,
dl,
dt,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
article,
aside,
details,
footer,
header,
hgroup,
menu,
nav,
section,
figure,
figcaption {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 가로모드 글씨 확대 초기화 */
html {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* 시멘틱 태그 블록화 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* 폰트 초기화 */
body,
button,
input,
select,
table,
textarea {
    color: #222;
    font-family: NexonLv1Gothic,AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,돋움;
}
.NexonLv1 {
    font-family: 'NexonLv1Gothic';
}
.NexonLv1-300 {
    font-family: 'NexonLv1Gothic';font-weight: 300;
}
.NexonLv1-400 {
    font-family: 'NexonLv1Gothic';font-weight: 400;
}
.NexonLv1-700 {
    font-family: 'NexonLv1Gothic';font-weight: 700;
}
.NexonLv2 {
    font-family: 'NexonLv2Gothic';
}
.NexonLv2-300 {
    font-family: 'NexonLv2Gothic';font-weight: 300;
}
.NexonLv2-400 {
    font-family: 'NexonLv2Gothic';font-weight: 400;
}
.NexonLv2-500 {
    font-family: 'NexonLv2Gothic';font-weight: 500;
}
.NexonLv2-700 {
    font-family: 'NexonLv2Gothic';font-weight: 700;
}  
.Gmarket {
    font-family: 'GmarketSans';
}
.Gmarket-300 {
    font-family: 'GmarketSans';font-weight: 300;
}
.Gmarket-300 {
    font-family: 'GmarketSans';font-weight: 300;
}
.Gmarket-500 {
    font-family: 'GmarketSans';font-weight: 500;
}
.Gmarket-700 {
    font-family: 'GmarketSans';font-weight: 700;
}

/* 링크 초기화 */
a {
    color: #222;
    text-decoration: none;
}

/* 목록 초기화 */
ol,
ul,
li { 
    list-style: none;
}

/* 스타일 초기화 */
em, address {
    font-style: normal;
}
img {
    width: 100%;
    vertical-align: top;
}
img, fieldset, button {
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}